# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Node
node_modules/
npm-debug.log

# Theme static_src (generated)
theme/static_src/node_modules/
